.projects {
    background-image: url('../../images/banner.jpg');
    background-repeat: repeat;
    background-size: 100px 100px;
}

h2 {
    color: gold;
    text-shadow: 5px black;
}

.card {
    margin: 0 auto;
    text-align: center;
    padding: 15px; /* JUST TO LOOK COOL */
    border: 1px solid #eee;  /* JUST TO LOOK COOL */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
}

.card:hover {
    margin-top: -3px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
  }

.pictures {
    height: px;
    border-radius: 15px;
    padding: 5px
}

.btn {
    background-color: red;
    transition: background-color .4s;
}

.btn:hover {
    background-color: blue;
}

.card:hover{
    size: 150%;
}

@media (min-width: 300px){
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto
    }
    }

@media (min-width: 700px){
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    }

@media (min-width: 1000px){
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align:center;
    }
    }
