.projects {
    background-color: salmon;
    background-repeat: repeat;
    background-size: 100px 100px;
    margin-top: 100px
}

h2 {
    color: gold;
    text-shadow: 5px black;
}

.card {
    margin: 0 auto;
    text-align: center;
}

.card-text {
    border-bottom: seagreen;
}

.pictures {
    height: px;
    border-radius: 15px;
    padding: 5px;
}

.btn {
    background-color: salmon;
    padding: 15px; /* JUST TO LOOK COOL */
    border: 1px solid #eee;  /* JUST TO LOOK COOL */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
}

.btn:hover {
    background-color: seagreen;
    margin-top: -3px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

@media (min-width: 300px){
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto
    }
    .card {
        height: 800px
    }
    }

@media (min-width: 768px){
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    
    .card {
        height: 200px
    }
    }

@media (min-width: 1100px){
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align:center;
        margin: 0 auto
    }
    .card {
        height: 380px;
    }
    }
