#contact {
    background-color: salmon;
    text-align:center;
}

.contact-container {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contact {
    height: auto; 
}

#contact-header {
    font-size: 36px
}

@media(max-width: 768px){
.card-imgs {
    height: 200px;
    width: auto
}
}