#contact {
    background-color: salmon;
    text-align:center;
}

.contact-container {
    align-items: center;
    text-align: center;
    margin: 0 30%;
    display: flex;
    justify-content: space-around;
}