#contact {
    background-color: salmon;
    text-align:center;
}

.contact-container {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px
}

#contact-header {
    font-size: 36px
}

@media(max-width: 768px){
.card-imgs {
    height: 200px;
    width: auto;
}
}

@media(min-width: 768px){
    .card-imgs {
        width: 100%;
        height: auto;
        margin: 55% 0px 45% 0px
    }
    #contact {
        height: 480px
    }
}